.vercel
*.log
node_modules/

# Secrets
.env
fit-sanctum*.json
credentials.json
token.json


# Generated Media
audio-caster/audio/*.mp3
!audio-caster/audio/.keep
images/generated/*
!images/generated/.keep
images/previews/*

# SSH Keys
exit
exit.pub
coverage/

# Build Artifacts
dist/
*.tar.gz
adhan-api-production.tar.gz
