TV_IP=192.168.1.TV_IP
DEVICE_NAME=Google Display
LOCATION_CITY=Sunnyvale
LOCATION_COUNTRY=US
LOCATION_METHOD=2
TIMEZONE=America/Los_Angeles
HOST_IP=192.168.1.PI_IP  # The IP of this Raspberry Pi/Server
